{{header}}
{{card}}
{{title}}WELCOME{{/title}}
Warning, experimental content may not be suitable for human interfacing.</br></br></br>
<div class="left"><img src="img/bot.png" class="small-img"></br></div>
I'm Mathieu Dombrock and this is the home of my personal projects. It is not my portfolio. If you are looking for that head over to <a href="http://mzero.space" target="_blank">mzero.space</a>. </br></br>
<strong>All links on this site are subject to change at any time without any redirects. Link to this site with caution.</strong>
</br>
{{/card}}
{{card}}
{{title}}IN PROGRESS{{/title}}
<h3>Project IronSky</h3>
Modular, Minimal Shortcode Templating Engine for Static Sites & Documents.</br> 
Requires no external dependencies & is invisible on the front-end :)</br>
Used to Generate this site.
</br>
<a href="https://github.com/NebulaCyberSolutions/x2y">GitHub</a> | 
<a href="[[URL]]projects/IronSky.html">HomePage</a>
{{/card}}
{{card}}
{{title}}STUFF I SAID{{/title}}
<a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/matdombrock?ref_src=twsrc%5Etfw">@matdombrock</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{/card}}
{{footer}}