@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
body{
	background:#FCF8E2;
	background-image:url("[[URL]]img/nebula.jpg");
	background-attachment: fixed;
	background-size: cover;
	color:#ECEAD4;
	font-family: 'IBM Plex Mono', monospace;

	margin:0 auto;
}
a, a:visited{
	color:#C5551C;
	text-decoration: none;
	background:#0F2D39;
}
img{
	max-width:100%;
}
pre{
	background:#333;
	padding:0.5em;
}
.title-bar{
	background: #0F2D39;
	margin:0 auto;
	padding:0.5em;
}
.title-bar-inner{
	max-width:1080px;
	margin:0 auto;
}
.site-title{
	font-size:2em;
	color:#ede4d0;
	font-weight:bold;
	font-family: 'Gugi', cursive;
}
.site-title-u{
	color:orange;
}
.banner{
	height:25vh;
}
.banner div{
	margin: auto;
    width: 50%;
    text-align:center;
    position:relative;
    font-size:5vh;
}
.banner img{
	height:25vh;
}
.left{
	float:left;
}
.outer-wrap{
	background:#0F2D39;
	psotion:absolute;
	min-height:75vh;
}
.inner-wrap{
	max-width: 1080px;
	margin:0 auto;
	background:#173744;
	padding:1.5em;
}
.title{
	color:orange;
	margin:0 auto;
	font-size:3em;
	overflow: hidden;
	background-attachment: fixed;
	margin-bottom:0.5em;
}
.card{
	clear:left;
	margin:0 auto;
	padding:1em;
}
.small-img{
	padding:1em;
}
.navigation{
	display:inline;
	float:right;
}
.navigation a{
	background:#0F2D39;
	color:#ECEAD4;
	padding:0.5em;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
.navigation a:hover{
	background:#5A6C74;
}
.readme-embed{
	width:100%;
	height:75vh;
}
.github-box, .github-box-title,.github-stats,.github-box-download, .repo,.updated, .updated strong{
	background:#333!important;
	color:white!important;
}
.github-box, .github-box-title,.github-stats,.github-box-download, .repo a{
	color:orange;
}
.footer{
	margin:0 auto;
	text-align:center;
}
@media (max-width: 800px){ 
	.title{
		line-height:1em;
		font-size:2em;
	}
	.navigation{
		margin-top:0.25em;
		display:block;
		float:none;
	}
	.navigation a{
		border-bottom-right-radius:0;
		border-bottom-left-radius:0;
		line-height:2.5em;
	}
	.wrap{
		padding:0.1em;
	}
	.card{
		padding:0.1em;
	}
}