{{header}}

{{card}}
{{title}}TUTORIALS{{/title}}
I have written a few tutorials on using open source software. They were part of my old github.io and I decided they were worth moving, so here they are. 
{{/card}}

{{card}}
{{title}}<a href="[[URL]]/tutorials/git-from-cli.html">Git From The Command Line Interface</a>{{/title}}
Learn how to use sites like GitHub from the command line interface (terminal). This tutorial is for people who are new to using git, but not new to the command line interface. </br>
(2016)</br>
<a href="[[URL]]/tutorials/git-from-cli.html">Git From The Command Line Interface</a>
{{/card}}

{{card}}
{{title}}<a href="[[URL]]/tutorials/blender-and-python.html">Blender & Python</a>{{/title}}
Blender is a powerful open source 3d modeling and video production tool. It is also fully script-able with Python. Learn how it works. </br>
(2016)</br>
<a href="[[URL]]/tutorials/blender-and-python.html">Blender & Python</a>
{{/card}}

{{footer}}